.iziToast-title{
    font-weight:lighter !important;
    font-family: 'Museo Sans', Arial, Helvetica, sans-serif;
}

.iziToast-icon{
    font-weight:lighter !important;
    font-family: 'Museo Sans', Arial, Helvetica, sans-serif;
}